
import styled from 'styled-components';

export const SButton = styled.button`
                       border: 0;
background: #508aff;
border-radius: 20px;
color: #FFF;
font-weight: 400;
text-transform: uppercase;
padding: 15px 25px;
`;